---
import {Image} from 'astro:assets';

import {modalImagesDirectory} from '../../utils/modalImagesDirectory';
---
<div class="modal-main-image">
  <Image src={modalImagesDirectory['paranormal-01']} alt="Paranormal Image" class={""} />
  <!-- TODO: OVERLAY + CLOSE ICON -->
</div>

<style>
  .modal-main-image {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .modal-main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>