<hgroup class="modal-content-header">
  <span class="modal-kind paranormal">Paranormal</span>
  <h1 class="modal-title">La Casa Matusita</h1>
  <p class="modal-description">La casa embrujada más famosa de Lima</p>
  <p class="modal-direction">
    <svg width="16px" height="16px" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill:none;stroke:#4b5563;stroke-miterlimit:10;stroke-width:1.91px;}</style></defs><path class="cls-1" d="M19.64,9.14C19.64,15.82,12,22.5,12,22.5S4.36,15.82,4.36,9.14a7.64,7.64,0,0,1,15.28,0Z"></path><circle class="cls-1" cx="12" cy="9.14" r="2.86"></circle></g></svg>
    Jr. Unión 390, Centro Histórico de Lima
  </p>
</hgroup>

<style>
  .modal-content-header {
    margin-bottom: 24px;
  }

  .modal-kind {
    font-size: smaller;
    font-weight: 600;
    padding: 2px 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: inline-block;
  }

  .paranormal {
    background: #f2e8fe;
    color: #6b21a8;
  }

  .modal-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 8px;
  }

  .modal-description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #4b5563;
    margin-bottom: 8px;
  }

  .modal-direction {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #4b5563
  }
</style>