---
import ModalFuentes from './components/ModalFuentes.astro';
import ModalHeader from './components/ModalHeader.astro';
import ModalHistory from './components/ModalHistory.astro';
import ModalImage from './components/ModalImage.astro';
import Layout from './Layout.astro';
---
<Layout>
  <div class="container">
    <div class="modal">
      
      <ModalImage />
      <div class="modal-content">
        <ModalHeader />
        <ModalHistory />
          <!-- TODO: GALERIA -->
        <ModalFuentes />
        <footer class="modal-footer">
          Lima Revelada - Descubre los misterios de nuestra ciudad
        </footer>
      </div>
    </div>
  </div>
</Layout>

<style>
  .container {
    background: #000;
    min-height: 100vh;
    display: grid;
    place-content: center;
  }

  .modal {
    background: #fff;
    width: 80vw;
    max-width: 1200px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .modal-content {
    padding: 24px;
  }

  .modal-footer {
    margin-top: 24px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #6b7280;
    text-align: center;
  }
  
</style>