---
const { site } = Astro.props;
const { history } = site
---

<main class="modal-history">
  <h2 class="history-title">La Historia</h2>
  {
    history.map((paragraph: string) => (
      <p class="history-content">{paragraph}</p>
    ))
  }
  <!-- <p class="history-content">
    La Casa Matusita, ubicada en el Jr. Unión 390 en el Centro Histórico de Lima, es considerada una de las casas más embrujadas del Perú. Esta casona colonial del siglo XIX ha sido testigo de numerosos eventos paranormales que han marcado la historia de la ciudad.
  </p>
  <p class="history-content">
    Según las leyendas urbanas, la casa fue escenario de tragedias familiares, asesinatos y rituales de magia negra. Los vecinos del lugar aseguran haber escuchado lamentos, pasos en los pisos superiores y haber visto figuras espectrales en las ventanas durante las noches.
  </p>
  <p class="history-content">
    En la década de 1960, un programa de televisión ofreció una recompensa a quien pasara una noche completa en la casa. Varios valientes lo intentaron, pero ninguno logró completar el desafío. Algunos salieron corriendo en estado de shock, mientras que otros fueron encontrados en condiciones que prefirieron no revelar públicamente.
  </p>
  <p class="history-content">
    Hoy en día, la Casa Matusita alberga locales comerciales en su planta baja, pero los pisos superiores permanecen deshabitados. Los trabajadores y visitantes ocasionales reportan experiencias inexplicables, manteniendo viva la leyenda de esta misteriosa construcción limeña.</p>
  </p> -->
</main>

<style>
  .modal-history {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .history-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 16px;
  }

  .history-content {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #374151;
    margin-bottom: 16px;
  }
</style>