---
const { site } = Astro.props;
const { fuentes } = site
---

<section class="modal-fuentes">
  <h2 class="modal-fuentes-title">Fuentes</h2>
  <ul class="modal-fuentes-list">
    {
      fuentes.map((fuente: any) => (
        <li class="modal-fuentes-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4 text-gray-500 mt-1 flex-shrink-0">
            <path d="M15 3h6v6"></path>
            <path d="M10 14 21 3"></path>
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
          </svg>
          <div class="modal-fuentes-content">
            <a href={fuente.url} target="_blank">{fuente.title}</a>
            <span>{fuente.description}</span>
          </div>
        </li>
      ))
    }
    <!-- <li class="modal-fuentes-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4 text-gray-500 mt-1 flex-shrink-0"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg>
      <div class="modal-fuentes-content">
        <a href="#">Historia de la casa Matusita</a>
        <span>Reportaje a las calles de lima</span>
      </div>
    </li>
    <li class="modal-fuentes-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4 text-gray-500 mt-1 flex-shrink-0"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg>
      <div class="modal-fuentes-content">
        <a href="#">Historia de la casa Matusita</a>
        <span>Reportaje a las calles de lima</span>
      </div>
    </li>
    <li class="modal-fuentes-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link w-4 h-4 text-gray-500 mt-1 flex-shrink-0"><path d="M15 3h6v6"></path><path d="M10 14 21 3"></path><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path></svg>
      <div class="modal-fuentes-content">
        <a href="#">Historia de la casa Matusita</a>
        <span>Reportaje a las calles de lima</span>
      </div>
    </li> -->
  </ul>
</section>

<style>
  .modal-fuentes {
    padding-top: 24px;
    padding-bottom: 32px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
  }

  .modal-fuentes-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 16px;
  }

  .modal-fuentes-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
  }

  .modal-fuentes-item {
    background-color: #f9fafb;
    border-radius: 8px;
    display: flex;
    align-items: start;
    padding: 12px;
    color: #4b5563;
    gap: 12px;
  }

  .modal-fuentes-item svg {
    margin-top: 2px;
  }
  .modal-fuentes-item a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #2563eb;
  }
  
  .modal-fuentes-item span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #4b5563;
  }

  .modal-fuentes-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    gap: 4px;
  }
</style>